@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  text-rendering: optimizeSpeed;
}

/* The base layer contains the base styles for elements like headings, paragraphs, and links. */
/* Use the base layer to define styles that apply to all instances of a particular element type across your application. */
/* default styles for dark and light mode */
@layer base {
  body {
    @apply dark:bg-[#16191d] dark:text-[#f1f3f5] text-[#030507] bg-[#f8f9fa] saturate-100;
  }
  a {
    text-decoration-thickness: 4px;
    text-underline-offset: 2px;
  }
}

/* The components layer contains styles for reusable components like buttons, cards, and forms. */
/* Use the components layer to define styles that are specific to individual components and are not intended to be applied globally. */
@layer components {
}

/* The utilities layer contains all the utility classes provided by Tailwind CSS. */
/* Use the utilities layer to define responsive and non-responsive utility classes that can be applied directly to HTML elements. */
@layer utilities {
  :root {
    --width: 724px;
    --avatar: clamp(5.16rem, calc(3.72rem + 7.22vw), 9.31rem);
    --bg-link-fill: #de1d8d;
    --text-fluid-1: clamp(0.83rem, calc(0.78rem + 0.29vw), 1rem);
    --text-fluid-3: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
    --text-1: #f1f3f5;
  }
}
